# ===========================
# Client .gitignore
# ===========================

# Dependencies
node_modules/

# Next.js Build Output
.next/
out/

# Debug
npm-debug.log*

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts
